name: Build and Test

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do Co패digo
        uses: actions/checkout@v2

      - name: Configurar JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'adopt'

      - name: Build com Maven
        run: mvn -B clean install

      - name: Rodar Testes Unit치rios
        run: mvn test

      - name: Gerar Relat칩rio de Cobertura com JaCoCo
        run: mvn jacoco:report

      - name: Arquivar Relat칩rio de Cobertura
        uses: actions/upload-artifact@v2
        with:
          name: coverage-report
          path: target/site/jacoco